<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Liar's Dice</title>

		<meta name="description" content="An online version of the multiplayer dice game Liar's Dice!">
		<meta name="author" content="GhostCats">

		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="colorBar"></div>

		<div class="container" id="name-page">
			<div class="input-group">
				<div class="header">What's your name?</div>
				<input class="input" type="text" placeholder="Name" id="name-name">
				<div class="error" id="name-error">
					<p>Sorry, but that name's been taken!</p>
				</div>
			</div>
			<div class="button-group">
				<button class="button" id="name-btn">Join!</button>
			</div>
		</div>

		<div class="container" id="wait-page">
			<div class="header">Your game key is <strong id="wait-id"></strong></div>
			<div class="divider"></div>
			<div class="users-group">
				<div class="header">Current Players:</div>
				<ul id="wait-players">
				</ul>
			</div>
			<div class="button-group">
				<button class="button" id="wait-btn">Start game!</button>
			</div>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/velocity.min.js"></script>
		<script src="/js/velocity.ui.min.js"></script>
		<script src="/js/socket.io.js"></script>

		<script>
			var GameID = "{{ GameID }}";
		</script>

		<script src="/js/utils.js"></script>
		<script src="/js/animation.js"></script>
		<script src="/js/objects.js"></script>
		<script src="/js/game.js"></script>
	</body>
<html>
