<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Dice</title>
		
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
		<link href="/css/normalize.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="colorBar"></div>
		<div class="container">
			<div class="dice-group-hero">
				<div class="die"></div><div class="die"></div><div class="die"></div>
			</div>
			<div class="divider"></div>
			<div class="header-hero">Liar's Dice</div>
			<div class="button-group-hero">
				<button class="button">Play the game!</button>
				<button class="button">Join an existing game</button>
			</div>
		</div>
	</body>
<html>